<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-5">My Secrets/Fears!</h1>
    <h3>Upvotes: <%= userdetails.upvote   %> Downvotes: <%= userdetails.downvote  %> </h3>
    <hr>
    <%    secrets.forEach((item, i) => { %>
        <div class="box">
          <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" onchange="this.form.submit()" value="<%= item._id  %>" name="check">
                <p class="secret-text"> <%= item.secrets %> </p>
            </div>
          </form>
        </div>

    <%    }); %>

    <hr>


    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret/Fear</a>

    <a class="btn btn-light btn-lg" href="/">Home</a>
  </div>
</div>

<%- include('partials/footer') %>
