<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-5">You've Discovered People's Darkest Secrets/Fears!</h1>
      <p class="paragraph" >Sort by:
          <a class="btn btn-sm btn-dark" href="/UpvotedSecrets">UpVote</a>
          <a class="btn btn-sm btn-dark" href="/DownvotedSecrets">DownVote</a>
          <a class="btn btn-sm btn-dark" href="/LatestSecrets">Latest</a>
          <a class="btn btn-sm btn-dark" href="/OldestSecrets">Oldest</a>
      </p>

      <%  if(messages.upvote){ %>
        <div class="alert alert-danger" role="alert" style="display: inline-block;padding-left:2%;padding-right:2%">
          <%= messages.upvote %>
        </div>
  <%    } else if(messages.downvote) {  %>
    <div class="alert alert-danger" role="alert" style="display: inline-block;padding-left:2%;padding-right:2%">
      <%= messages.downvote %>
    </div>
  <% } %>


    <hr>


    <%  if(result.length > 0){  %>
    <%  result.forEach((items, i) => {  %>

          <form  action="/secrets" method="post">
            <div class="box">
              <div class="item">
                <button formaction="/upvote" formmethod="post" name="upvote" value="<%= items._id  %>" style="background: transparent; border: none; color: green;" >🢁</button>
                <button style="background: transparent; border: none; color: green; word-break: normal; " ><%= items.upvotes %></button>
                <button formaction="/downvote" formmethod="post" name="downvote" value="<%= items._id %>" style="padding-top: 8px; background: transparent; border: none; color: red;" >🢃</button>
                <button style="background: transparent; border: none; color: red; word-break: normal; " ><%= items.downvotes %></button>
                <p class="secret-text"> <%= items.secrets %> </p>
              </div>
            </div>
          </form>

    <%  });  %>
    <%    } else{ %>
    <div class="box">
      <div class="item">
        <p class="secret-text" style="font-family: 'BN Manson Nights'; word-break: normal;"> Errr! NO SECRETS OR FEARS......... Add your's to the list. </p>
      </div>
    </div>
    <%    } %>



    <hr>


<% if(result.length > 0) { %>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center pagination-sm">
        <li class="page-item"><a class="page-link" href="<%=pageUrl%>/1-<%=limit%>">First</a></li>
        <li class="page-item"><%
if(page!=1){
var a=parseInt(page)-1;
%>
          <a class="page-link" href="<%=pageUrl%>/<%=a%>-<%=limit%>">Previous</a>
          <%
}
%></li>

        <li class="page-item">
          <%if(pages!=page){
page=parseInt(page)+1;
%>
          <a class="page-link" href="<%=pageUrl%>/<%=page%>-<%=limit%>">Next</a>
          <%
}
%>
        </li>
        <li class="page-item"><a class="page-link" href="<%=pageUrl%>/<%=pages%>-<%=limit%>">Last</a></li>
      </ul>
</nav>
<% } %>

<%  if(isTrue){ %>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/mysecretsandfears" role="button">My Secrets/Fears</a>
  <% } %>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret/Fear</a>
    <a class="btn btn-light btn-lg" href="/">Home</a>
  </div>
</div>

<%- include('partials/footer') %>
